<h2>Players</h2>
<div class="form-group">
    <label for="playerName">Player name</label> <input class="form-control" #playerName />
    <label for="playerCountry">Country</label> <input class="form-control" #playerCountry />
    <label for="playerAge">Age</label> <input class="form-control" #playerAge />
    <label for="playerPoints">Points</label> <input class="form-control" #playerPoints />
    <label for="playerTourns">Tournaments played</label> <input class="form-control" #playerTourns />
    <button class="btn btn-primary" (click)="add(playerName.value,playerCountry.value); playerName.value=''">Add</button>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Country</th>
        <th>Age</th>
        <th>Points</th>
        <th>Tournaments Played</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players;let i = index" (click)="onSelect(player)" [class.selected]="player === selectedPlayer" role="button">
        <td>{{i+1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.country}}</td>
        <td>{{player.age}}</td>
        <td>{{player.points}}</td>
        <td>{{player.tournsPlayed}}</td>
        <td><a class="btn btn-danger" (click)="delete(player);$event.stopPropagation();">x</a></td>
      </tr>
    </tbody>
  </table>
<div *ngIf="selectedPlayer">
    <h2>
        {{selectedPlayer.name | uppercase}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>