<div *ngIf="player">
    <h2>{{player.name}} details!</h2>
    <div><label>id: </label><span>{{player.id}}</span></div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="player.name" placeholder="name"/>
    </div>
    <div>
        <label>country: </label>
        <input [(ngModel)]="player.country" placeholder="name"/>
    </div>
    <div>
        <label>age: </label>
        <input [(ngModel)]="player.age" placeholder="name"/>
    </div>
    <div>
        <label>points: </label>
        <input [(ngModel)]="player.points" placeholder="name"/>
    </div>
    <div>
        <label>Tournaments played: </label>
        <input [(ngModel)]="player.tournsPlayed" placeholder="name"/>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>